.jumbotron {
  text-align: center;
}

h1 {
  color: rgb(180, 109, 16);
  font-family: "Gloria Hallelujah", cursive;
}

li {
  float: initial;
  display: inline;
  margin-right: 20px;
}

h2 {
  font-size: 65px;
  color: rgb(180, 109, 16);
  font-family: "Gloria Hallelujah", cursive;
}

.sectionone {
  background-image: url(../images/dark2.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.sectionwelcome {
  text-align: center;
}

h1 .special-color {
  color: rgb(180, 164, 16);
}

.aboutus {
  color: rgb(10, 34, 5);
  padding-top: 7%;
  padding-bottom: 4%;
  top: 50vh;
  text-align: center;
}

.aboutus h1 {
  font-size: 50px;
}

h4 {
  text-align: center;
  font-family: "Gloria Hallelujah", cursive;
  color: rgb(180, 109, 16);
  font-size: 45px;
}

.selectiontwo {
}

.selections {
  text-align: center;
}

.sectionthree {
  text-align: center;
}

.sectionthree .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 50px;
}
