.jumbotron {
  text-align: center;
}

h1 {
  color: rgb(201, 11, 11);
  font-family: "Gloria Hallelujah", cursive;
}

li {
  float: initial;
  display: inline;
  margin-right: 20px;
}

.sectionwelcome {
  text-align: center;
}

h1 .special-color {
  color: rgb(133, 45, 173);
}
